site_name: PSP
nav:
  - Home: index.md
  - Simple: simple.md
  - Shortcut: shortcut.md
  - Env: env.md
theme:
  name: material
  logo: img/psp_logo.svg
  favicon: img/psp_logo.ico
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: yellow
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: yellow
      accent: blue
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
markdown_extensions:
  - admonition
