
name: Build

on:
  push:
    workflow_dispatch:
    branches:
      - main
    tags:
      - '*'
  pull_request:
  workflow_dispatch:


jobs:
  compile:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04,
             windows-latest, 
             macos-14,
            ] 
    steps:
      - uses: actions/checkout@v4
          
      - uses: Swatinem/rust-cache@v2
      
      - name: Compile psp
        run: cargo build --release

      - name: Upload built artefacts
        uses: actions/upload-artifact@v4
        with:
          name: built-${{ matrix.os }}
          path: target
